<!DOCTYPE html>
<html>
  <head>
    <title>Digital Wesleyan Fellowship</title>
    <link href="students.css" rel="stylesheet"/>
    <link href="./fonts/fontawesome/css/font-awesome.min.css" rel="stylesheet"/>
  </head>
  <body>
    <div class="header">
      <div class="headshot"></div>
      <img src="headshot.jpg"/>
      <h1 class="name">Nina Stender</h1>
      <ul class="social">
        <li><a href="http://www.twitter.com/0tenderstender" target="_blank">
          <i class="fa fa-twitter fa-lg"></i>
        </a></li>
        <li><a href="http://www.linkedin.com/in/ninastender" target="_blank">
          <i class="fa fa-linkedin fa-lg"></i>
        </a></li>
        <li><a href="https://github.com/nstend" target="_blank">
          <i class="fa fa-github fa-lg"></i>
        </a></li>
      </ul>
    </div>
    <div class="about">
      <h2>About</h2>
      <ul>
        <li>Major: College of Social Studies and Government</li>
        <li>Graduation Year: 2016</li>
        <li>Hometown: Hong Kong</li>
      </ul>
      <h2>Contact</h2>
      <ul>
        <li>Email: nstender@wesleyan.edu</li>
      </ul>
      <h2>Bio</h2>
      <p>Nina Stender is a sophomore at Wesleyan University, double majoring in <a href="https://www.wesleyan.edu/css/" target="_blank">College of Social Studies</a> and <a href="http://www.wesleyan.edu/gov/" target="_blank">Government</a>. She was born and raised abroad in Hong Kong, but also has a home base in the bay area of Northern California, where the majority of her family resides. Nina is bilingual in English and Chinese, and hopes to improve her Spanish, which she is currently studying at the intermediate level. </p>
      <p>
        On campus, Nina is involved in the Woodrow Wilson Debate Society, the Alpha Delta Phi Literary Society, J Street U and Terpsichore Dance. She also serves as a Student Writing Mentor in the Wesleyan Writing Workshop. She is known as DJ Struggles on her radio show <i>Carpe Noctem</i> on <b>WESU Middletown 88.1FM</b>, which airs on the 1st/3rd/5th Tuesdays each month from 2:30-3:30am and can be live streamed online <a href="http://wesufm.org/listen.html" target="_blank">here</a>.</p>
      <p>
        In terms of Digital Wes, Nina's interest in tech startups and entrepreneurship stems from a broader interest in addressing social problems that lack effective and/or widely accessible solutions. She feels that society as a whole needs evolution in its culture, in its allocation of profits and status, and in its ability to employ and inspire new generations of people. Tech startups seem to be a promising way to meet these needs. Nina hopes to use her Digital Wes experiences to focus on the ways that tech startups and entrepreneurship can jointly address both the demands of pop culture with the needs of social issues, such as national and global ecology and politics.
      </p>
    </div>
    <div class="project">
      <h2>Project</h2>
      <h3>COMING SOON!</h3>
    </div>
  </body>
</html>